ID {
    display: block;
}

NIM {
    color: red;
}

Nama {
    color: blue;
    font-weight: 20pt;
    background-color: yellow;
}

Kota {
    font-family: verdana;
    font-style: italic;
}